@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-item {
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.5s;
    color: var(--secondary-bg-color);
    text-align: left;
    background: var(--secondary-text-color);
    margin: 2px;
  }
  .nav-item:hover {
    border-color: var(--main-text-color);
  }
  .nav-item:focus,
  .nav-item:focus:not(:focus-visible) {
    outline: 0;
    box-shadow:
      0 0 0 .05rem var(--secondary-text-color),
      0 0 0 .15rem var(--main-text-color);
      font-weight: 700;
  }

  .ping-red {
    animation: red-ping 1s forwards;
  }

  .ping-blue {
    animation: blue-ping 1s forwards;
  }

  @keyframes red-ping {
    0% {
      border-color: red;
    }
    100% {
      border-color: --secondary-bg-color;
    }
  }

  @keyframes blue-ping {
    0% {
      border-color: blue;
    }
    100% {
      border-color: var(--secondary-bg-color);
    }
  }
